@using Web.ViewModels.Catalog.Common
@model PageResult<Web.ViewModels.Catalog.Users.UserViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script>
        setInterval(function () {
            $.ajax({
                url: '/ShipperOrder/Reload',
                data: { 'keyword': "" },
                type: "POST",
                dataType: "json",
                //contentType: "application/json",
                success: function (data) {
                    console.log(data.data.Items);
                    BindDataTable(data.data.Items);
                }, error: function (er) {
                    console.log("Fail");
                }
            });
        }, 1000);

        function BindDataTable(response) {
            $('#dataTable').DataTable().destroy();
            table = $('#dataTable').DataTable({
                data: response,
                "columns": [
                    { "data": "FirstName" },
                    { "data": "Ngaysinh" },
                    { "data": "Email" },
                    { "data": "PhoneNumber" },
                    { "data": "Address" },
                    {
                        "mData": "SoluongYC",
                        "mRender": function (data, type, row) {
                            return "<p style='padding:3px;background-color:red;color:#000; border-radius:20px;text-align:center'>"+data+"</p>";
                          }
                    },
                    {
                        "mData": "Id",
                        "mRender": function (data, type, row) {
                            return "<a class='linkReload'>Đơn hàng yêu cầu <input type='hidden' value='" + data + "'/></a>";
                            //return "<form method='post' asp-action='OrderRequireReload'><input type='hidden' asp-for='IdUser' value='" + data + "'/><button type='submit'>Link</button></form>";
                        }
                    }
                ]
            });

            $('.linkReload').click(function () {
                var ob = $(this).children('input')[0];
                var idUser = $(ob).val();
                // ajax
                $.ajax({
                    url: '/ShipperOrder/OrderRequireReload',
                    data: { 'IdUser': idUser },
                    type: "POST",
                    dataType: "json",
                    //contentType: "application/json",
                    success: function (data) {
                        console.log(data);
                        window.location = '/ShipperOrder/OrderRequire';
                    }, error: function (er) {
                        console.log("1");
                    }
                });
            });
        }
    </script>
    <script>
        function deleteUser(id) {

        }
        setTimeout(function () {
            $(".alert").fadeOut('slow');
        }, 2000);
    </script>
}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">DANH SÁCH SHIPPERS</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        @if (@TempData["Message"] != null)
        {
            <div class="alert alert-success" role="alert" style="text-align:center">
                @TempData["Message"]
            </div>
        }
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Day of Birth
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Phone Number
                            </th>
                            <th>
                                Address
                            </th>
                            <th>Yêu cầu</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Day of Birth
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Phone Number
                            </th>
                            <th>
                                Address
                            </th>
                            <th>Yêu cầu</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @{
                                        var name = item.FirstName + " " + item.LastName;
                                    }
                                    <p>@name</p>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ngaysinh)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    <p style="padding:3px;background-color:red;color:#000; border-radius:20px;text-align:center">@item.SoluongYC</p>
                                </td>
                                <td>
                                    @Html.ActionLink("Đơn hàng yêu cầu", "OrderRequire", new { IdUser = item.Id }) 
                                    @*@Html.ActionLink("Lịch sử  giao hàng", "OrderHistory", new { IdUser = item.Id })*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

