@model IEnumerable<Web.ViewModels.Catalog.Orders.OrderViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">DANH SÁCH ĐƠN HÀNG YÊU CẦU</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        @if (@TempData["Message"] != null)
        {
            <div class="alert alert-success" role="alert" style="text-align:center">
                @TempData["Message"]
            </div>
        }
        <div class="card-header py-3" style="display:flex">
            <a asp-action="Index" asp-controller="ShipperOrder" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-long-arrow-alt-left"></i>
                </span>
                <span class="text">Trở về</span>
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OrderDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShipName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShipAddress)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShipEmail)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShipPhone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>Tổng tiền</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OrderDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShipName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShipAddress)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShipEmail)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShipPhone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>Tổng tiền</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShipName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShipAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShipEmail)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShipPhone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @{
                                    decimal total = 0;
                                    foreach (var ODDT in item.ListOrDetail)
                                    {
                                        total += ODDT.Price * ODDT.Quantity;
                                    }
                                }
                                <p>@total.ToString("N0")</p>
                            </td>
                            <td>
                                @if (item.Status.ToString() == "AdminConfirm")
                                {
                                    @Html.ActionLink("Confirm", "ConfirmOrderSP", new { id = item.Id, userId = item.IdUser })
                                }
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        setTimeout(function () {
            $(".alert").fadeOut('slow');
        }, 2000);
    </script>
}