@model Web.Models.ListProductViewModel
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@{
    ViewData["Title"] = "ListProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = CultureInfo.CurrentCulture.Name;
    CultureInfo cul;
}
@section Scripts{
    <link href="~/css/sale.css" rel="stylesheet" />
    <link href="~/css/SearchStyle.css" rel="stylesheet" />
}
<div class="span9">
    <ul class="breadcrumb">
        <li><a href="/@culture/Home/Index">Home</a> <span class="divider">/</span></li>
        <li class="active"><localize>Products</localize></li>
    </ul>
    <hr class="soft" />
    <form class="form-horizontal span6" style="margin:20px 0" method="post" asp-action="ListProducts">
        <div class="box">
            <div class="container-1">
                <span class="icon"><i class="fa fa-search"></i></span>
                <input type="search" id="search" asp-for="keyWord" placeholder="Search..." />
                <button type="submit" style="margin: 0 10px; height: 45px;" id="submitButton" class="btn btn-primary"><localize>Search</localize></button>
            </div>
        </div>
    </form>

    <br class="clr" />
    <div class="tab-content">
       

        <div class="tab-pane  active" id="blockView">
            <ul class="thumbnails">
                @foreach (var item in Model.listPro)
                {
                    var url = $"/{culture}/{_loc["productURL"]}/{item.Id}";
                    <li class="span3">
                        <div class="thumbnail" style="position:relative;min-height:475px;">
                            <a href="@url"><img src="@item.Images[0].URL" alt="" /></a>
                            <div class="caption">
                                <h5>@item.Name</h5>
                                <h4 style="text-align:center">
                                    <a class="btn" href="@url">
                                        <i class="icon-zoom-in"></i>
                                    </a>
                                    <a class="btn" href="@url">
                                        <localize>Add to</localize>
                                        <i class="icon-shopping-cart"></i>
                                    </a>
                                    @if (String.Compare(culture.ToString(), "vi") == 0)
                                    {
                                        cul = CultureInfo.GetCultureInfo("vi-VN");
                                        decimal giaTRC = 0;
                                        decimal giaSAU = 0;
                                        decimal percent = (item.DiscountPercent * (decimal)(0.01)) ?? 0;
                                        decimal amount = item.DiscountAmount ?? 0;
                                        giaTRC = item.listPS[0].Price - (item.listPS[0].Price * percent) - amount;
                                        giaSAU = item.listPS[item.listPS.Count - 1].Price - (item.listPS[item.listPS.Count - 1].Price * percent) - amount;
                                        if (item.DiscountPercent != null || item.DiscountAmount != null)
                                        {
                                            <del class="btnGiamgia btn btn-danger" href="#">@item.listPS[0].Price.ToString("C", cul.NumberFormat) - @item.listPS[item.listPS.Count - 1].Price.ToString("C", cul.NumberFormat)</del>
                                        }
                                        <a class="btn btn-primary" href="#">@giaTRC.ToString("C", cul.NumberFormat) - @giaSAU.ToString("C", cul.NumberFormat)</a>

                                        if (item.DiscountPercent != null)
                                        {
                                            <span class="sale">-@item.DiscountPercent%</span>
                                        }
                                        if (item.DiscountAmount != null)
                                        {
                                            decimal x = item.DiscountAmount ?? 0;
                                            <span class="sale2">-@x.ToString("C", cul.NumberFormat)</span>
                                        }
                                    }
                                    else
                                    {
                                        cul = CultureInfo.GetCultureInfo("en-US");
                                        decimal giaTRC = 0;
                                        decimal giaSAU = 0;
                                        decimal percent = (item.DiscountPercent * (decimal)(0.01)) ?? 0;
                                        decimal amount = item.DiscountAmount ?? 0;
                                        giaTRC = (item.listPS[0].Price - (item.listPS[0].Price * percent) - amount) / 23300;
                                        giaSAU = (item.listPS[item.listPS.Count - 1].Price - (item.listPS[item.listPS.Count - 1].Price * percent) - amount) / 23300;
                                        if (item.DiscountPercent != null || item.DiscountAmount != null)
                                        {
                                            var giaGoc = item.listPS[0].Price / 23300;
                                            var giaGoc2 = item.listPS[item.listPS.Count - 1].Price / 23300;
                                            <del class="btnGiamgia btn btn-danger" href="#">@giaGoc.ToString("C", cul.NumberFormat) - @giaGoc2.ToString("C", cul.NumberFormat)</del>
                                        }
                                        <a class="btn btn-primary" href="#">@giaTRC.ToString("C", cul.NumberFormat) - @giaSAU.ToString("C", cul.NumberFormat)</a>

                                        if (item.DiscountPercent != null)
                                        {
                                            <span class="sale">-@item.DiscountPercent%</span>
                                        }
                                        if (item.DiscountAmount != null)
                                        {
                                            decimal x = item.DiscountAmount ?? 0;
                                            <span class="sale2">-@x.ToString("C", cul.NumberFormat)</span>
                                        }
                                    }
                                </h4>
                            </div>
                        </div>
                    </li>

                }

            </ul>
            <hr class="soft" />
        </div>
    </div>

    <div class="pagination">
        @await Component.InvokeAsync("Pager", Model.Pager)
    </div>
    <br class="clr" />
</div>