@using Web.ViewModels.Catalog.Common
@model Web.Models.ProductDetailViewModel
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "ProductDetail";
    var culture = CultureInfo.CurrentCulture.Name;
}

@section Scripts{
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/Comment.css" rel="stylesheet" />
    <link href="~/css/rating.css" rel="stylesheet" />
    <script type="text/javascript">
        // thông báo
        $('.error').hide();
        $('.success').hide();
        $('.success-rating').hide();
        setTimeout(function () {
            $(".alert").fadeOut('slow');
        }, 2000);
        //
        function formatCash(str) {
            return str.split('').reverse().reduce((prev, next, index) => {
                return ((index % 3) ? next : (next + ',')) + prev
            })
        }
        var listSize = JSON.parse('@Newtonsoft.Json.JsonConvert.SerializeObject(Model.ProductInfo.listPS)'.replace(/&quot;/g, "\""));

        // setSize sản phẩm đầu tiên
        $('#giaSP').text(formatCash(listSize[0].Price.toString())+" VND");
        $('#soluongSP').text(listSize[0].Stock+" ");
        var value = $('#sizeDropdown :selected').val();
        var nameSize = $('#sizeDropdown :selected').text();

        var button = document.getElementById('btnAddToCart');
        button.setAttribute('data-sizeId', value);
        button.setAttribute('data-nameSize', nameSize);
        function chonsize() {
            var value = $('#sizeDropdown :selected').val();
            var nameSize = $('#sizeDropdown :selected').text();

            var button = document.getElementById('btnAddToCart');
            button.setAttribute('data-sizeId', value);
            button.setAttribute('data-nameSize', nameSize);
            for (let j = 0; j < listSize.length; j++) {
                if (listSize[j].SizeId == value) {
                    $('#giaSP').text(formatCash(listSize[j].Price.toString()) + " VND");
                    $('#soluongSP').text(listSize[j].Stock+" ");
                }
            }
        }

        //
        $("#soluongQty").change(function () {
            var button = document.getElementById('btnAddToCart');
            var value = $('#soluongQty').val();
            button.setAttribute('data-qty', value);
        });

        $("#btnAddToCart").click(function () {
            var soluong = $('#soluongQty').val();
            var total = $('#soluongSP').text();
            if (parseInt(soluong) > parseInt(total) || soluong == "") {
                $('.error').show();
                setTimeout(function () {
                    $(".error").fadeOut('slow');
                }, 3000);
                return false;
            }
            $('.success').show();
            setTimeout(function () {
                $(".success").fadeOut('slow');
            }, 3000);
        });
    </script>
    <script>
        $('#ratingSP').hide();
        $("#btnRating").click(function () {
            $('#ratingSP').show();
        });
        $("#btnRatingCM").click(function () {
            $('#ratingSP').show();
        });
        $(".btnCancel").click(function () {
            $('#ratingSP').hide();
            $('.titleRating').text("ĐÁNH GIÁ SẢN PHẨM")
        });
        $(".btnSubmit").click(function () {
            var productId = $('.productId').val();
            var star = $(".starSP:checked").val()

            var comment = $('#commentSP').val();
            if (star == null) {
                $('.titleRating').text("HÃY ĐÁNH GIÁ SẢN PHẨM")
                return false;
            }
            const culture = $('#hidCulture').val();
            var languageID = "";
            if (culture == "vi") {
                languageID = "san-pham";
            } else {
                languageID = "products";
            }
            $.ajax({
                type: 'POST',
                url: "/" + culture + '/Cart/RatingProduct',
                data: { productId: productId, star: star, comment: comment },
                dataType: 'json',
                success: function (data) {
                    if (data['mgs'] == true) {
                        $('#ratingSP').hide();
                        $('.titleRating').text("ĐÁNH GIÁ SẢN PHẨM")
                        $(".success-rating").show();
                        setTimeout(function () {
                            $(".success-rating").fadeOut('slow');
                            window.location = "/" + culture + '/' + languageID + '/' + productId;
                        }, 3000);
                    }
                    else {
                        window.location = "/" + culture + '/Account/Login';
                    }
                },
                error: function (err) {
                    console.log("error");
                }
            })
        });
    </script>
}

<div class="span9">
    @if (@TempData["msg"] != null)
    {
        <div class="alert alert-success" role="alert" style="text-align:center">
            @TempData["msg"]
        </div>
    }
    else if(@TempData["error"] != null)
    {
        <div class="alert alert-error" role="alert" style="text-align:center">
            @TempData["error"]
        </div>
    }
    <div class="alert alert-error error" style="text-align:center">
        <span>Vui lòng kiểm tra lại số lượng</span>
    </div>
    <div class="alert alert-success success" style="text-align:center">
        <span>Đã thêm sản phẩm vào giỏ hàng</span>
    </div>
    <div class="alert alert-success success-rating" style="text-align:center">
        <span>Hoàn thành đánh giá</span>
    </div>
    <ul class="breadcrumb">
        <li><a href="/@culture/Home/Index">Home</a> <span class="divider">/</span></li>
        <li class="active">Product Details</li>
    </ul>
    <div class="row">
        <div id="gallery" class="span3">
            @foreach (var image in @Model.Images)
            {
                if (image.isDefault)
                {
                    <a href="@image.URL" title="@image.Caption">
                        <img src="@image.URL" style="width:100%" alt="@image.Caption" />
                    </a>
                }
            }
            <div id="differentview" class="moreOptopm carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        @foreach (var image in @Model.Images)
                        {
                            <a href="@image.URL"> <img style="width:29%" src="@image.URL" alt="" /></a>
                        }
                    </div>
                    <div class="item">
                        @foreach (var image in @Model.Images)
                        {
                            <a href="@image.URL"> <img style="width:29%" src="@image.URL" alt="" /></a>
                        }
                    </div>
                </div>
            </div>
            @{
                var url = $"/{culture}/Product/ProductFavorite";
            }
            <div class="btn-toolbar">
                <div class="btn-group">
                    <span id="btnRating" class="btn" style="width:100%">Đánh Giá Sản Phẩm</span>
                    <form style="padding:0" asp-action="ProductFavorite" asp-controller="Product" method="post" class="btn">
                        <input type="hidden" asp-for="ProductId" value="@Model.ProductInfo.Id" />
                        <button class="btn" type="submit">
                            <i style="color:red" class="icon-heart"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div style="display:flex;">
                <p class="text-muted text-sm">
                    @if (@Model.ProductInfo.Diem == 0)
                    {
                        <fieldset class="rate" style="margin:auto">
                            <input class="cmRating" value="10" /><label class="lbRating" title="5 stars"></label>
                            <input class="cmRating" value="9" /><label class="half lbRating" title="4 1/2 stars"></label>
                            <input class="cmRating" value="8" /><label class="lbRating" title="4 stars"></label>
                            <input class="cmRating" value="7" /><label class="half lbRating" title="3 1/2 stars"></label>
                            <input class="cmRating" value="6" /><label class="lbRating" title="3 stars"></label>
                            <input class="cmRating" value="5" /><label class="half lbRating" title="2 1/2 stars"></label>
                            <input class="cmRating" value="4" /><label class="lbRating" title="2 stars"></label>
                            <input class="cmRating" value="3" /><label class="half lbRating" title="1 1/2 stars"></label>
                            <input class="cmRating" value="2" /><label class="lbRating" title="1 star"></label>
                            <input class="cmRating" value="1" /><label class="half lbRating" title="1/2 star"></label>
                            <input class="cmRating" type="radio" checked value="0" /><label class="lbRating" title="No star"></label>
                        </fieldset>
                    }
                    @if (@Model.ProductInfo.Diem == 1)
                    {
                        <fieldset class="rate" style="margin:auto">
                            <input class="cmRating" value="10" /><label class="lbRating" title="5 stars"></label>
                            <input class="cmRating" value="9" /><label class="half lbRating" title="4 1/2 stars"></label>
                            <input class="cmRating" value="8" /><label class="lbRating" title="4 stars"></label>
                            <input class="cmRating" value="7" /><label class="half lbRating" title="3 1/2 stars"></label>
                            <input class="cmRating" value="6" /><label class="lbRating" title="3 stars"></label>
                            <input class="cmRating" value="5" /><label class="half lbRating" title="2 1/2 stars"></label>
                            <input class="cmRating" value="4" /><label class="lbRating" title="2 stars"></label>
                            <input class="cmRating" value="3" /><label class="half lbRating" title="1 1/2 stars"></label>
                            <input class="cmRating" value="2" /><label class="lbRating" title="1 star"></label>
                            <input class="cmRating" type="radio" checked value="1" /><label class="half lbRating" title="1/2 star"></label>
                            <input class="cmRating" value="0" /><label class="lbRating" title="No star"></label>
                        </fieldset>
                    }
                    @if (@Model.ProductInfo.Diem == 2)
                    {
                        <fieldset class="rate" style="margin:auto">
                            <input class="cmRating" value="10" /><label class="lbRating" title="5 stars"></label>
                            <input class="cmRating" value="9" /><label class="half lbRating" title="4 1/2 stars"></label>
                            <input class="cmRating" value="8" /><label class="lbRating" title="4 stars"></label>
                            <input class="cmRating" value="7" /><label class="half lbRating" title="3 1/2 stars"></label>
                            <input class="cmRating" value="6" /><label class="lbRating" title="3 stars"></label>
                            <input class="cmRating" value="5" /><label class="half lbRating" title="2 1/2 stars"></label>
                            <input class="cmRating" value="4" /><label class="lbRating" title="2 stars"></label>
                            <input class="cmRating" value="3" /><label class="half lbRating" title="1 1/2 stars"></label>
                            <input class="cmRating" type="radio" checked value="2" /><label class="lbRating" title="1 star"></label>
                            <input class="cmRating" value="1" /><label class="half lbRating" title="1/2 star"></label>
                            <input class="cmRating" value="0" /><label class="lbRating" title="No star"></label>
                        </fieldset>
                    }
                    @if (@Model.ProductInfo.Diem == 3)
                    {
                        <fieldset class="rate" style="margin:auto">
                            <input class="cmRating" value="10" /><label class="lbRating" title="5 stars"></label>
                            <input class="cmRating" value="9" /><label class="half lbRating" title="4 1/2 stars"></label>
                            <input class="cmRating" value="8" /><label class="lbRating" title="4 stars"></label>
                            <input class="cmRating" value="7" /><label class="half lbRating" title="3 1/2 stars"></label>
                            <input class="cmRating" value="6" /><label class="lbRating" title="3 stars"></label>
                            <input class="cmRating" value="5" /><label class="half lbRating" title="2 1/2 stars"></label>
                            <input class="cmRating" value="4" /><label class="lbRating" title="2 stars"></label>
                            <input class="cmRating" type="radio" checked value="3" /><label class="half lbRating" title="1 1/2 stars"></label>
                            <input class="cmRating" value="2" /><label class="lbRating" title="1 star"></label>
                            <input class="cmRating" value="1" /><label class="half lbRating" title="1/2 star"></label>
                            <input class="cmRating" value="0" /><label class="lbRating" title="No star"></label>
                        </fieldset>
                    }
                    @if (@Model.ProductInfo.Diem == 4)
                    {
                        <fieldset class="rate " style="margin:auto">
                            <input class="cmRating" value="10" /><label class="lbRating" title="5 stars"></label>
                            <input class="cmRating" value="9" /><label class="half lbRating" title="4 1/2 stars"></label>
                            <input class="cmRating" value="8" /><label class="lbRating" title="4 stars"></label>
                            <input class="cmRating" value="7" /><label class="half lbRating" title="3 1/2 stars"></label>
                            <input class="cmRating" value="6" /><label class="lbRating" title="3 stars"></label>
                            <input class="cmRating" value="5" /><label class="half lbRating" title="2 1/2 stars"></label>
                            <input class="cmRating" type="radio" checked value="4" /><label class="lbRating" title="2 stars"></label>
                            <input class="cmRating" value="3" /><label class="half lbRating" title="1 1/2 stars"></label>
                            <input class="cmRating" value="2" /><label class="lbRating" title="1 star"></label>
                            <input class="cmRating" value="1" /><label class="half lbRating" title="1/2 star"></label>
                            <input class="cmRating" value="0" /><label class="lbRating" title="No star"></label>
                        </fieldset>
                    }
                    @if (@Model.ProductInfo.Diem == 5)
                    {
                        <fieldset class="rate" style="margin:auto">
                            <input class="cmRating" value="10" /><label class="lbRating" title="5 stars"></label>
                            <input class="cmRating" value="9" /><label class="half lbRating" title="4 1/2 stars"></label>
                            <input class="cmRating" value="8" /><label class="lbRating" title="4 stars"></label>
                            <input class="cmRating" value="7" /><label class="half lbRating" title="3 1/2 stars"></label>
                            <input class="cmRating" value="6" /><label class="lbRating" title="3 stars"></label>
                            <input class="cmRating" type="radio" checked value="5" /><label class="half lbRating" title="2 1/2 stars"></label>
                            <input class="cmRating" value="4" /><label class="lbRating" title="2 stars"></label>
                            <input class="cmRating" value="3" /><label class="half lbRating" title="1 1/2 stars"></label>
                            <input class="cmRating" value="2" /><label class="lbRating" title="1 star"></label>
                            <input class="cmRating" value="1" /><label class="half lbRating" title="1/2 star"></label>
                            <input class="cmRating" value="0" /><label class="lbRating" title="No star"></label>
                        </fieldset>
                    }
                    @if (@Model.ProductInfo.Diem == 6)
                    {
                        <fieldset class="rate" style="margin:auto">
                            <input class="cmRating" value="10" /><label class="lbRating" title="5 stars"></label>
                            <input class="cmRating" value="9" /><label class="half lbRating" title="4 1/2 stars"></label>
                            <input class="cmRating" value="8" /><label class="lbRating" title="4 stars"></label>
                            <input class="cmRating" value="7" /><label class="half lbRating" title="3 1/2 stars"></label>
                            <input class="cmRating" type="radio" checked value="6" /><label class="lbRating" title="3 stars"></label>
                            <input class="cmRating" value="5" /><label class="half lbRating" title="2 1/2 stars"></label>
                            <input class="cmRating" value="4" /><label class="lbRating" title="2 stars"></label>
                            <input class="cmRating" value="3" /><label class="half lbRating" title="1 1/2 stars"></label>
                            <input class="cmRating" value="2" /><label class="lbRating" title="1 star"></label>
                            <input class="cmRating" value="1" /><label class="half lbRating" title="1/2 star"></label>
                            <input class="cmRating" value="0" /><label class="lbRating" title="No star"></label>
                        </fieldset>
                    }
                    @if (@Model.ProductInfo.Diem == 7)
                    {
                        <fieldset class="rate" style="margin:auto">
                            <input class="cmRating" value="10" /><label class="lbRating" title="5 stars"></label>
                            <input class="cmRating" value="9" /><label class="half lbRating" title="4 1/2 stars"></label>
                            <input class="cmRating" value="8" /><label class="lbRating" title="4 stars"></label>
                            <input class="cmRating" type="radio" checked value="7" /><label class="half lbRating" title="3 1/2 stars"></label>
                            <input class="cmRating" value="6" /><label class="lbRating" title="3 stars"></label>
                            <input class="cmRating" value="5" /><label class="half lbRating" title="2 1/2 stars"></label>
                            <input class="cmRating" value="4" /><label class="lbRating" title="2 stars"></label>
                            <input class="cmRating" value="3" /><label class="half lbRating" title="1 1/2 stars"></label>
                            <input class="cmRating" value="2" /><label class="lbRating" title="1 star"></label>
                            <input class="cmRating" value="1" /><label class="half lbRating" title="1/2 star"></label>
                            <input class="cmRating" value="0" /><label class="lbRating" title="No star"></label>
                        </fieldset>
                    }
                    @if (@Model.ProductInfo.Diem == 8)
                    {
                        <fieldset class="rate" style="margin:auto">
                            <input class="cmRating" value="10" /><label class="lbRating" title="5 stars"></label>
                            <input class="cmRating" value="9" /><label class="half lbRating" title="4 1/2 stars"></label>
                            <input class="cmRating" type="radio" checked value="8" /><label class="lbRating" title="4 stars"></label>
                            <input class="cmRating" value="7" /><label class="half lbRating" title="3 1/2 stars"></label>
                            <input class="cmRating" value="6" /><label class="lbRating" title="3 stars"></label>
                            <input class="cmRating" value="5" /><label class="half lbRating" title="2 1/2 stars"></label>
                            <input class="cmRating" value="4" /><label class="lbRating" title="2 stars"></label>
                            <input class="cmRating" value="3" /><label class="half lbRating" title="1 1/2 stars"></label>
                            <input class="cmRating" value="2" /><label class="lbRating" title="1 star"></label>
                            <input class="cmRating" value="1" /><label class="half lbRating" title="1/2 star"></label>
                            <input class="cmRating" value="0" /><label class="lbRating" title="No star"></label>
                        </fieldset>
                    }
                    @if (@Model.ProductInfo.Diem == 9)
                    {
                        <fieldset class="rate" style="margin:auto">
                            <input class="cmRating" value="10" /><label class="lbRating" title="5 stars"></label>
                            <input class="cmRating" type="radio" checked value="9" /><label class="half lbRating" title="4 1/2 stars"></label>
                            <input class="cmRating" value="8" /><label class="lbRating" title="4 stars"></label>
                            <input class="cmRating" value="7" /><label class="half lbRating" title="3 1/2 stars"></label>
                            <input class="cmRating" value="6" /><label class="lbRating" title="3 stars"></label>
                            <input class="cmRating" value="5" /><label class="half lbRating" title="2 1/2 stars"></label>
                            <input class="cmRating" value="4" /><label class="lbRating" title="2 stars"></label>
                            <input class="cmRating" value="3" /><label class="half lbRating" title="1 1/2 stars"></label>
                            <input class="cmRating" value="2" /><label class="lbRating" title="1 star"></label>
                            <input class="cmRating" value="1" /><label class="half lbRating" title="1/2 star"></label>
                            <input class="cmRating" value="0" /><label class="lbRating" title="No star"></label>
                        </fieldset>
                    }
                    @if (@Model.ProductInfo.Diem == 10)
                    {
                        <fieldset class="rate" style="margin:auto">
                            <input class="cmRating" type="radio" checked value="10" /><label class="lbRating" title="5 stars"></label>
                            <input class="cmRating" value="9" /><label class="half lbRating" title="4 1/2 stars"></label>
                            <input class="cmRating" value="8" /><label class="lbRating" title="4 stars"></label>
                            <input class="cmRating" value="7" /><label class="half lbRating" title="3 1/2 stars"></label>
                            <input class="cmRating" value="6" /><label class="lbRating" title="3 stars"></label>
                            <input class="cmRating" value="5" /><label class="half lbRating" for="rating5" title="2 1/2 stars"></label>
                            <input class="cmRating" value="4" /><label class="lbRating" title="2 stars"></label>
                            <input class="cmRating" value="3" /><label class="half lbRating" title="1 1/2 stars"></label>
                            <input class="cmRating" value="2" /><label class="lbRating" title="1 star"></label>
                            <input class="cmRating" value="1" /><label class="half lbRating" title="1/2 star"></label>
                            <input class="cmRating" value="0" /><label class="lbRating" title="No star"></label>
                        </fieldset>
                    }
                </p>
            </div>
        </div>
        <div class="span6">
            <h3>@Model.ProductInfo.Name</h3>
            <small>@Html.Raw(@Model.ProductInfo.Details)</small>
            <hr class="soft" />
            <form class="form-horizontal qtyFrm">
                <div class="control-group">
                    <label class="control-label"><span id="giaSP"></span></label>
                    <div class="controls">
                        <input id="soluongQty" type="number" class="span1" placeholder="Qty" />
                        <button id="btnAddToCart" data-id="@Model.ProductInfo.Id" class="btn btn-large btn-add-card btn-primary pull-right"><localize>Add to cart</localize><i class=" icon-shopping-cart"></i></button>
                    </div>
                </div>
            </form>

            <hr class="soft" />
            <h4><span id="soluongSP"></span><localize>items in stock</localize></h4>
            <form class="form-horizontal qtyFrm">
                <div class="control-group">
                    <label class="control-label"><span>Lượt xem: @Model.ProductInfo.ViewCount</span></label>
                </div>
            </form>
            <form class="form-horizontal qtyFrm pull-right">
                <div class="control-group">
                    <label class="control-label"><span>Size</span></label>
                    <div class="controls">
                        <select id="sizeDropdown" onchange="return chonsize()" class="span2" asp-items="@(new SelectList(Model.ProductInfo.listPS,"SizeId","Size",Model.ProductInfo.Name))">
                        </select>
                    </div>
                </div>
            </form>
            <hr class="soft clr" />
            <p>
                @Model.ProductInfo.Description
            </p>
            <a class="btn btn-small pull-right" href="#detail">More Details</a>
            <br class="clr" />
            <a href="#" name="detail"></a>
            <hr class="soft" />
        </div>

        <div class="span9">
            <ul id="productDetail" class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab"><localize>Comments</localize></a></li>
                <li><a href="#profile" data-toggle="tab"><localize>Related Products</localize></a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="home">
                    <div class="container bootdey" style="width:100%">
                        <div class="col-md-12 bootstrap snippets">
                            <div class="panel">
                                <div class="panel-body">
                                    @*<textarea style="width:100%" class="form-control" rows="5" placeholder="What are you thinking?"></textarea>*@
                                    <div class="mar-top clearfix">
                                        @*<span id="btnRating" class="btn" style="width:100%">Đánh Giá Sản Phẩm</span>*@
                                        <button id="btnRatingCM" class="btn btn-sm btn-primary pull-right">
                                            <i class="fa fa-pencil fa-fw"></i> Comment
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                @foreach (var item in Model.Comments)
                                {
                                    <div class="panel-body">
                                        <!-- Newsfeed Content -->
                                        <!--===================================================-->
                                        <div class="media-block">
                                            <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="/themes/avatarUser.png"></a>
                                            <div class="media-body" style="margin-left:60px">
                                                <div class="mar-btm">
                                                    <a href="#" class="btn-link text-semibold media-heading box-inline">@item.TenUser</a>
                                                    <div style="display:flex;">
                                                        <p class="text-muted text-sm">
                                                            @if (item.Star == 0)
                                                            {
                                                                <fieldset class="rate">
                                                                    <input class="cmRating" value="10" /><label class="lbRating" title="5 stars"></label>
                                                                    <input class="cmRating" value="9" /><label class="half lbRating" title="4 1/2 stars"></label>
                                                                    <input class="cmRating" value="8" /><label class="lbRating" title="4 stars"></label>
                                                                    <input class="cmRating" value="7" /><label class="half lbRating" title="3 1/2 stars"></label>
                                                                    <input class="cmRating" value="6" /><label class="lbRating" title="3 stars"></label>
                                                                    <input class="cmRating" value="5" /><label class="half lbRating" title="2 1/2 stars"></label>
                                                                    <input class="cmRating" value="4" /><label class="lbRating" title="2 stars"></label>
                                                                    <input class="cmRating" value="3" /><label class="half lbRating" title="1 1/2 stars"></label>
                                                                    <input class="cmRating" value="2" /><label class="lbRating" title="1 star"></label>
                                                                    <input class="cmRating" value="1" /><label class="half lbRating" title="1/2 star"></label>
                                                                    <input class="cmRating" type="radio" checked value="0" /><label class="lbRating" title="No star"></label>
                                                                </fieldset>
                                                            }
                                                            @if (item.Star == 1)
                                                            {
                                                                <fieldset class="rate">
                                                                    <input class="cmRating" value="10" /><label class="lbRating" title="5 stars"></label>
                                                                    <input class="cmRating" value="9" /><label class="half lbRating" title="4 1/2 stars"></label>
                                                                    <input class="cmRating" value="8" /><label class="lbRating" title="4 stars"></label>
                                                                    <input class="cmRating" value="7" /><label class="half lbRating" title="3 1/2 stars"></label>
                                                                    <input class="cmRating" value="6" /><label class="lbRating" title="3 stars"></label>
                                                                    <input class="cmRating" value="5" /><label class="half lbRating" title="2 1/2 stars"></label>
                                                                    <input class="cmRating" value="4" /><label class="lbRating" title="2 stars"></label>
                                                                    <input class="cmRating" value="3" /><label class="half lbRating" title="1 1/2 stars"></label>
                                                                    <input class="cmRating" value="2" /><label class="lbRating" title="1 star"></label>
                                                                    <input class="cmRating" type="radio" checked value="1" /><label class="half lbRating" title="1/2 star"></label>
                                                                    <input class="cmRating" value="0" /><label class="lbRating" title="No star"></label>
                                                                </fieldset>
                                                            }
                                                            @if (item.Star == 2)
                                                            {
                                                                <fieldset class="rate">
                                                                    <input class="cmRating" value="10" /><label class="lbRating" title="5 stars"></label>
                                                                    <input class="cmRating" value="9" /><label class="half lbRating" title="4 1/2 stars"></label>
                                                                    <input class="cmRating" value="8" /><label class="lbRating" title="4 stars"></label>
                                                                    <input class="cmRating" value="7" /><label class="half lbRating" title="3 1/2 stars"></label>
                                                                    <input class="cmRating" value="6" /><label class="lbRating" title="3 stars"></label>
                                                                    <input class="cmRating" value="5" /><label class="half lbRating" title="2 1/2 stars"></label>
                                                                    <input class="cmRating" value="4" /><label class="lbRating" title="2 stars"></label>
                                                                    <input class="cmRating" value="3" /><label class="half lbRating" title="1 1/2 stars"></label>
                                                                    <input class="cmRating" type="radio" checked value="2" /><label class="lbRating" title="1 star"></label>
                                                                    <input class="cmRating" value="1" /><label class="half lbRating" title="1/2 star"></label>
                                                                    <input class="cmRating" value="0" /><label class="lbRating" title="No star"></label>
                                                                </fieldset>
                                                            }
                                                            @if (item.Star == 3)
                                                            {
                                                                <fieldset class="rate">
                                                                    <input class="cmRating" value="10" /><label class="lbRating" title="5 stars"></label>
                                                                    <input class="cmRating" value="9" /><label class="half lbRating" title="4 1/2 stars"></label>
                                                                    <input class="cmRating" value="8" /><label class="lbRating" title="4 stars"></label>
                                                                    <input class="cmRating" value="7" /><label class="half lbRating" title="3 1/2 stars"></label>
                                                                    <input class="cmRating" value="6" /><label class="lbRating" title="3 stars"></label>
                                                                    <input class="cmRating" value="5" /><label class="half lbRating" title="2 1/2 stars"></label>
                                                                    <input class="cmRating" value="4" /><label class="lbRating" title="2 stars"></label>
                                                                    <input class="cmRating" type="radio" checked value="3" /><label class="half lbRating" title="1 1/2 stars"></label>
                                                                    <input class="cmRating" value="2" /><label class="lbRating" title="1 star"></label>
                                                                    <input class="cmRating" value="1" /><label class="half lbRating" title="1/2 star"></label>
                                                                    <input class="cmRating" value="0" /><label class="lbRating" title="No star"></label>
                                                                </fieldset>
                                                            }
                                                            @if (item.Star == 4)
                                                            {
                                                                <fieldset class="rate">
                                                                    <input class="cmRating" value="10" /><label class="lbRating" title="5 stars"></label>
                                                                    <input class="cmRating" value="9" /><label class="half lbRating" title="4 1/2 stars"></label>
                                                                    <input class="cmRating" value="8" /><label class="lbRating" title="4 stars"></label>
                                                                    <input class="cmRating" value="7" /><label class="half lbRating" title="3 1/2 stars"></label>
                                                                    <input class="cmRating" value="6" /><label class="lbRating" title="3 stars"></label>
                                                                    <input class="cmRating" value="5" /><label class="half lbRating" title="2 1/2 stars"></label>
                                                                    <input class="cmRating" type="radio" checked value="4" /><label class="lbRating" title="2 stars"></label>
                                                                    <input class="cmRating" value="3" /><label class="half lbRating" title="1 1/2 stars"></label>
                                                                    <input class="cmRating" value="2" /><label class="lbRating" title="1 star"></label>
                                                                    <input class="cmRating" value="1" /><label class="half lbRating" title="1/2 star"></label>
                                                                    <input class="cmRating" value="0" /><label class="lbRating" title="No star"></label>
                                                                </fieldset>
                                                            }
                                                            @if (item.Star == 5)
                                                            {
                                                                <fieldset class="rate">
                                                                    <input class="cmRating" value="10" /><label class="lbRating" title="5 stars"></label>
                                                                    <input class="cmRating" value="9" /><label class="half lbRating" title="4 1/2 stars"></label>
                                                                    <input class="cmRating" value="8" /><label class="lbRating" title="4 stars"></label>
                                                                    <input class="cmRating" value="7" /><label class="half lbRating" title="3 1/2 stars"></label>
                                                                    <input class="cmRating" value="6" /><label class="lbRating" title="3 stars"></label>
                                                                    <input class="cmRating" type="radio" checked value="5" /><label class="half lbRating" title="2 1/2 stars"></label>
                                                                    <input class="cmRating" value="4" /><label class="lbRating" title="2 stars"></label>
                                                                    <input class="cmRating" value="3" /><label class="half lbRating" title="1 1/2 stars"></label>
                                                                    <input class="cmRating" value="2" /><label class="lbRating" title="1 star"></label>
                                                                    <input class="cmRating" value="1" /><label class="half lbRating" title="1/2 star"></label>
                                                                    <input class="cmRating" value="0" /><label class="lbRating" title="No star"></label>
                                                                </fieldset>
                                                            }
                                                            @if (item.Star == 6)
                                                            {
                                                                <fieldset class="rate">
                                                                    <input class="cmRating" value="10" /><label class="lbRating" title="5 stars"></label>
                                                                    <input class="cmRating" value="9" /><label class="half lbRating" title="4 1/2 stars"></label>
                                                                    <input class="cmRating" value="8" /><label class="lbRating" title="4 stars"></label>
                                                                    <input class="cmRating" value="7" /><label class="half lbRating" title="3 1/2 stars"></label>
                                                                    <input class="cmRating" type="radio" checked value="6" /><label class="lbRating" title="3 stars"></label>
                                                                    <input class="cmRating" value="5" /><label class="half lbRating" title="2 1/2 stars"></label>
                                                                    <input class="cmRating" value="4" /><label class="lbRating" title="2 stars"></label>
                                                                    <input class="cmRating" value="3" /><label class="half lbRating" title="1 1/2 stars"></label>
                                                                    <input class="cmRating" value="2" /><label class="lbRating" title="1 star"></label>
                                                                    <input class="cmRating" value="1" /><label class="half lbRating" title="1/2 star"></label>
                                                                    <input class="cmRating" value="0" /><label class="lbRating" title="No star"></label>
                                                                </fieldset>
                                                            }
                                                            @if (item.Star == 7)
                                                            {
                                                                <fieldset class="rate">
                                                                    <input class="cmRating" value="10" /><label class="lbRating" title="5 stars"></label>
                                                                    <input class="cmRating" value="9" /><label class="half lbRating" title="4 1/2 stars"></label>
                                                                    <input class="cmRating" value="8" /><label class="lbRating" title="4 stars"></label>
                                                                    <input class="cmRating" type="radio" checked value="7" /><label class="half lbRating" title="3 1/2 stars"></label>
                                                                    <input class="cmRating" value="6" /><label class="lbRating" title="3 stars"></label>
                                                                    <input class="cmRating" value="5" /><label class="half lbRating" title="2 1/2 stars"></label>
                                                                    <input class="cmRating" value="4" /><label class="lbRating" title="2 stars"></label>
                                                                    <input class="cmRating" value="3" /><label class="half lbRating" title="1 1/2 stars"></label>
                                                                    <input class="cmRating" value="2" /><label class="lbRating" title="1 star"></label>
                                                                    <input class="cmRating" value="1" /><label class="half lbRating" title="1/2 star"></label>
                                                                    <input class="cmRating" value="0" /><label class="lbRating" title="No star"></label>
                                                                </fieldset>
                                                            }
                                                            @if (item.Star == 8)
                                                            {
                                                                <fieldset class="rate">
                                                                    <input class="cmRating" value="10" /><label class="lbRating" title="5 stars"></label>
                                                                    <input class="cmRating" value="9" /><label class="half lbRating" title="4 1/2 stars"></label>
                                                                    <input class="cmRating" type="radio" checked value="8" /><label class="lbRating" title="4 stars"></label>
                                                                    <input class="cmRating" value="7" /><label class="half lbRating" title="3 1/2 stars"></label>
                                                                    <input class="cmRating" value="6" /><label class="lbRating" title="3 stars"></label>
                                                                    <input class="cmRating" value="5" /><label class="half lbRating" title="2 1/2 stars"></label>
                                                                    <input class="cmRating" value="4" /><label class="lbRating" title="2 stars"></label>
                                                                    <input class="cmRating" value="3" /><label class="half lbRating" title="1 1/2 stars"></label>
                                                                    <input class="cmRating" value="2" /><label class="lbRating" title="1 star"></label>
                                                                    <input class="cmRating" value="1" /><label class="half lbRating" title="1/2 star"></label>
                                                                    <input class="cmRating" value="0" /><label class="lbRating" title="No star"></label>
                                                                </fieldset>
                                                            }
                                                            @if (item.Star == 9)
                                                            {
                                                                <fieldset class="rate">
                                                                    <input class="cmRating" value="10" /><label class="lbRating" title="5 stars"></label>
                                                                    <input class="cmRating" type="radio" checked value="9" /><label class="half lbRating" title="4 1/2 stars"></label>
                                                                    <input class="cmRating" value="8" /><label class="lbRating" title="4 stars"></label>
                                                                    <input class="cmRating" value="7" /><label class="half lbRating" title="3 1/2 stars"></label>
                                                                    <input class="cmRating" value="6" /><label class="lbRating" title="3 stars"></label>
                                                                    <input class="cmRating" value="5" /><label class="half lbRating" title="2 1/2 stars"></label>
                                                                    <input class="cmRating" value="4" /><label class="lbRating" title="2 stars"></label>
                                                                    <input class="cmRating" value="3" /><label class="half lbRating" title="1 1/2 stars"></label>
                                                                    <input class="cmRating" value="2" /><label class="lbRating" title="1 star"></label>
                                                                    <input class="cmRating" value="1" /><label class="half lbRating" title="1/2 star"></label>
                                                                    <input class="cmRating" value="0" /><label class="lbRating" title="No star"></label>
                                                                </fieldset>
                                                            }
                                                            @if (item.Star == 10)
                                                            {
                                                                <fieldset class="rate">
                                                                    <input class="cmRating" type="radio" checked value="10" /><label class="lbRating" title="5 stars"></label>
                                                                    <input class="cmRating" value="9" /><label class="half lbRating" title="4 1/2 stars"></label>
                                                                    <input class="cmRating" value="8" /><label class="lbRating" title="4 stars"></label>
                                                                    <input class="cmRating" value="7" /><label class="half lbRating" title="3 1/2 stars"></label>
                                                                    <input class="cmRating" value="6" /><label class="lbRating" title="3 stars"></label>
                                                                    <input class="cmRating" value="5" /><label class="half lbRating" for="rating5" title="2 1/2 stars"></label>
                                                                    <input class="cmRating" value="4" /><label class="lbRating" title="2 stars"></label>
                                                                    <input class="cmRating" value="3" /><label class="half lbRating" title="1 1/2 stars"></label>
                                                                    <input class="cmRating" value="2" /><label class="lbRating" title="1 star"></label>
                                                                    <input class="cmRating" value="1" /><label class="half lbRating" title="1/2 star"></label>
                                                                    <input class="cmRating" value="0" /><label class="lbRating" title="No star"></label>
                                                                </fieldset>
                                                            }
                                                        </p>
                                                        <p style="margin:auto 0; margin-left:auto"> @item.DateCreated</p>
                                                    </div>
                                                </div>
                                                <p>@item.Content.</p>
                                                @*<div class="pad-ver">
                                                    <a class="btn btn-sm btn-default btn-hover-primary" href="#">Comment</a>
                                                </div>*@
                                                <hr>

                                                <!-- Comments -->
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile">
                    <div id="myTab" class="pull-right">
                        <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
                        <a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
                    </div>
                    <br class="clr" />
                    <hr class="soft" />
                    <div class="tab-content">
                        <div class="tab-pane active" id="blockView">
                            <ul class="thumbnails">
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="product_details.html"><img src="/themes/images/products/10.jpg" alt="" /></a>
                                        <div class="caption">
                                            <h5>Manicure &amp; Pedicure</h5>
                                            <p>
                                                Lorem Ipsum is simply dummy text.
                                            </p>
                                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">&euro;222.00</a></h4>
                                        </div>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="product_details.html"><img src="/themes/images/products/11.jpg" alt="" /></a>
                                        <div class="caption">
                                            <h5>Manicure &amp; Pedicure</h5>
                                            <p>
                                                Lorem Ipsum is simply dummy text.
                                            </p>
                                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">&euro;222.00</a></h4>
                                        </div>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="product_details.html"><img src="/themes/images/products/12.jpg" alt="" /></a>
                                        <div class="caption">
                                            <h5>Manicure &amp; Pedicure</h5>
                                            <p>
                                                Lorem Ipsum is simply dummy text.
                                            </p>
                                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">&euro;222.00</a></h4>
                                        </div>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="product_details.html"><img src="/themes/images/products/13.jpg" alt="" /></a>
                                        <div class="caption">
                                            <h5>Manicure &amp; Pedicure</h5>
                                            <p>
                                                Lorem Ipsum is simply dummy text.
                                            </p>
                                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">&euro;222.00</a></h4>
                                        </div>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="product_details.html"><img src="/themes/images/products/1.jpg" alt="" /></a>
                                        <div class="caption">
                                            <h5>Manicure &amp; Pedicure</h5>
                                            <p>
                                                Lorem Ipsum is simply dummy text.
                                            </p>
                                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">&euro;222.00</a></h4>
                                        </div>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="product_details.html"><img src="/themes/images/products/2.jpg" alt="" /></a>
                                        <div class="caption">
                                            <h5>Manicure &amp; Pedicure</h5>
                                            <p>
                                                Lorem Ipsum is simply dummy text.
                                            </p>
                                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">&euro;222.00</a></h4>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <hr class="soft" />
                        </div>
                    </div>
                    <br class="clr">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="ratingSP" class="rating">
    <div class="ratingSP_block--overlay">
    </div>
    <div class="ratingSP_block">
        <h1 class="titleRating">ĐÁNH GIÁ SẢN PHẨM</h1>
        <input type="hidden" id="hidCulture" value="@culture" />
        <input class="productId" type="hidden" value="@Model.ProductInfo.Id" />
        <fieldset class="rate">
            <input class="starSP" type="radio" id="rating10" name="rating" value="10" /><label class="starSP-label" for="rating10" title="5 stars"></label>
            <input class="starSP" type="radio" id="rating9" name="rating" value="9" /><label class="half starSP-label" for="rating9" title="4 1/2 stars"></label>
            <input class="starSP" type="radio" id="rating8" name="rating" value="8" /><label class="starSP-label" for="rating8" title="4 stars"></label>
            <input class="starSP" type="radio" id="rating7" name="rating" value="7" /><label class="half starSP-label" for="rating7" title="3 1/2 stars"></label>
            <input class="starSP" type="radio" id="rating6" name="rating" value="6" /><label class="starSP-label" for="rating6" title="3 stars"></label>
            <input class="starSP" type="radio" id="rating5" name="rating" value="5" /><label class="half starSP-label" for="rating5" title="2 1/2 stars"></label>
            <input class="starSP" type="radio" id="rating4" name="rating" value="4" /><label class="starSP-label" for="rating4" title="2 stars"></label>
            <input class="starSP" type="radio" id="rating3" name="rating" value="3" /><label class="half starSP-label" for="rating3" title="1 1/2 stars"></label>
            <input class="starSP" type="radio" id="rating2" name="rating" value="2" /><label class="starSP-label" for="rating2" title="1 star"></label>
            <input class="starSP" type="radio" id="rating1" name="rating" value="1" /><label class="half starSP-label" for="rating1" title="1/2 star"></label>
            <input class="starSP" type="radio" id="rating0" name="rating" value="0" /><label class="starSP-label" for="rating0" title="No star"></label>
        </fieldset>
        <div class="panel">
            <div class="panel-body">
                <textarea id="commentSP" style="width:100%" class="form-control" rows="5" placeholder="What are you thinking?"></textarea>
            </div>
        </div>
        <div style="display:flex">
            <button class="btnSubmit btn btn-info">Submit</button>
            <button class="btnCancel btn btn-danger">Cancel</button>
        </div>
    </div>
</div>