@using Web.ViewModels.Catalog.Common
@model Web.Models.ProductForCategoryViewModel
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@{
    ViewData["Title"] = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = CultureInfo.CurrentCulture;
    CultureInfo cul;
}

@section Scripts{
    <link href="~/css/sale.css" rel="stylesheet" />
}
<div class="span9">
    <ul class="breadcrumb">
        <li><a href="/@culture/Home/Index">Home</a> <span class="divider">/</span></li>
        <li class="active">Products</li>
    </ul>
    <h3> @Model.Categories.Name <small class="pull-right">@Model.Products.Items.Count <localize>products are available </localize></small></h3>
    <hr class="soft" />
    <p>
        @Model.Categories.SeoDescription
    </p>
    <hr class="soft" />
    <form class="form-horizontal span6">
        <div class="control-group">
            <label class="control-label alignL"><localize>Sort By</localize> </label>
            <select>
                <option>Priduct name A - Z</option>
                <option>Priduct name Z - A</option>
                <option>Priduct Stoke</option>
                <option>Price Lowest first</option>
            </select>
        </div>
    </form>

    <div id="myTab" class="pull-right">
        <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
        <a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
    </div>
    <br class="clr" />
    <div class="tab-content">
        <div class="tab-pane" id="listView">
            @foreach (var item in Model.Products.Items)
            {
                var url = $"/{culture.Name}/{_loc["productURL"]}/{item.Id}";
                <div class="row" style="position:relative">
                    <div class="span2">
                        <img src="@item.Image" alt="" />
                    </div>
                    <div class="span4" >
                        <div style="display:flex;justify-content:space-between">
                            @if (String.Compare(culture.ToString(), "vi") == 0)
                            {
                                cul = CultureInfo.GetCultureInfo("vi-VN");
                                decimal giaTRC = 0;
                                decimal giaSAU = 0;
                                decimal percent = (item.DiscountPercent * (decimal)(0.01)) ?? 0;
                                decimal amount = item.DiscountAmount ?? 0;
                                giaTRC = item.listPS[0].Price - (item.listPS[0].Price * percent) - amount;
                                giaSAU = item.listPS[item.listPS.Count - 1].Price - (item.listPS[item.listPS.Count - 1].Price * percent) - amount;
                                if (item.DiscountPercent != null || item.DiscountAmount != null)
                                {
                                    <del class="btnGiamgia btn btn-danger" href="#">@item.listPS[0].Price.ToString("C", cul.NumberFormat) - @item.listPS[item.listPS.Count - 1].Price.ToString("C", cul.NumberFormat)</del>
                                }
                                <a class="btn btn-primary" href="#">@giaTRC.ToString("C", cul.NumberFormat) - @giaSAU.ToString("C", cul.NumberFormat)</a>

                               
                            }
                            else
                            {
                                cul = CultureInfo.GetCultureInfo("en-US");
                                decimal giaTRC = 0;
                                decimal giaSAU = 0;
                                decimal percent = (item.DiscountPercent * (decimal)(0.01)) ?? 0;
                                decimal amount = item.DiscountAmount ?? 0;
                                giaTRC = (item.listPS[0].Price - (item.listPS[0].Price * percent) - amount) / 23300;
                                giaSAU = (item.listPS[item.listPS.Count - 1].Price - (item.listPS[item.listPS.Count - 1].Price * percent) - amount) / 23300;
                                if (item.DiscountPercent != null || item.DiscountAmount != null)
                                {
                                    var giaGoc = item.listPS[0].Price / 23300;
                                    var giaGoc2 = item.listPS[item.listPS.Count - 1].Price / 23300;
                                    <del class="btnGiamgia btn btn-danger" href="#">@giaGoc.ToString("C", cul.NumberFormat) - @giaGoc2.ToString("C", cul.NumberFormat)</del>
                                }
                                <a class="btn btn-primary" href="#">@giaTRC.ToString("C", cul.NumberFormat) - @giaSAU.ToString("C", cul.NumberFormat)</a>

                               
                            }
                        </div>
                        <hr class="soft" />
                        <h5>@item.Name</h5>
                        <p>
                            @item.Description
                        </p>
                        <a class="btn btn-small pull-right" href="@url"><localize>View Details</localize></a>
                        <br class="clr" />
                    </div>
                    <div class="span3 alignR">

                        <form class="form-horizontal qtyFrm">
                            <a href="@url" data-id="@item.Id" class="btn btn-large btn-primary"><localize>Add to</localize><i class=" icon-shopping-cart"></i></a>
                            <a href="@url" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                        </form>
                    </div>
                </div>
                <hr class="soft" />
            }
        </div>

        <div class="tab-pane  active" id="blockView">
            <ul class="thumbnails">
                @foreach (var item in Model.Products.Items)
                {
                    var url = $"/{culture.Name}/{_loc["productURL"]}/{item.Id}";
                    <li class="span3">
                        <div class="thumbnail">
                            <a href="@url"><img src="@item.Image" alt="" /></a>
                            <div class="caption">
                                <h5>@item.Name</h5>
                                <p>
                                    @item.Description
                                </p>
                                <h4 style="text-align:center">
                                    <a class="btn" href="@url">
                                        <i class="icon-zoom-in"></i>
                                    </a>
                                    <a class="btn" href="@url">
                                        <localize>Add to</localize>
                                        <i class="icon-shopping-cart"></i>
                                    </a>
                                    @if (String.Compare(culture.ToString(), "vi") == 0)
                                    {
                                        cul = CultureInfo.GetCultureInfo("vi-VN");
                                        decimal giaTRC = 0;
                                        decimal giaSAU = 0;
                                        decimal percent = (item.DiscountPercent * (decimal)(0.01)) ?? 0;
                                        decimal amount = item.DiscountAmount ?? 0;
                                        giaTRC = item.listPS[0].Price - (item.listPS[0].Price * percent) - amount;
                                        giaSAU = item.listPS[item.listPS.Count - 1].Price - (item.listPS[item.listPS.Count - 1].Price * percent) - amount;
                                        if (item.DiscountPercent != null || item.DiscountAmount != null)
                                        {
                                            <del class="btnGiamgia btn btn-danger" href="#">@item.listPS[0].Price.ToString("C", cul.NumberFormat) - @item.listPS[item.listPS.Count - 1].Price.ToString("C", cul.NumberFormat)</del>
                                        }
                                        <a class="btn btn-primary" href="#">@giaTRC.ToString("C", cul.NumberFormat) - @giaSAU.ToString("C", cul.NumberFormat)</a>

                                        if (item.DiscountPercent != null)
                                        {
                                            <span class="sale">-@item.DiscountPercent%</span>
                                        }
                                        if (item.DiscountAmount != null)
                                        {
                                            decimal x = item.DiscountAmount ?? 0;
                                            <span class="sale2">-@x.ToString("C", cul.NumberFormat)</span>
                                        }
                                    }
                                    else
                                    {
                                        cul = CultureInfo.GetCultureInfo("en-US");
                                        decimal giaTRC = 0;
                                        decimal giaSAU = 0;
                                        decimal percent = (item.DiscountPercent * (decimal)(0.01)) ?? 0;
                                        decimal amount = item.DiscountAmount ?? 0;
                                        giaTRC = (item.listPS[0].Price - (item.listPS[0].Price * percent) - amount) / 23300;
                                        giaSAU = (item.listPS[item.listPS.Count - 1].Price - (item.listPS[item.listPS.Count - 1].Price * percent) - amount) / 23300;
                                        if (item.DiscountPercent != null || item.DiscountAmount != null)
                                        {
                                            var giaGoc = item.listPS[0].Price / 23300;
                                            var giaGoc2 = item.listPS[item.listPS.Count - 1].Price / 23300;
                                            <del class="btnGiamgia btn btn-danger" href="#">@giaGoc.ToString("C", cul.NumberFormat) - @giaGoc2.ToString("C", cul.NumberFormat)</del>
                                        }
                                        <a class="btn btn-primary" href="#">@giaTRC.ToString("C", cul.NumberFormat) - @giaSAU.ToString("C", cul.NumberFormat)</a>

                                        if (item.DiscountPercent != null)
                                        {
                                            <span class="sale">-@item.DiscountPercent%</span>
                                        }
                                        if (item.DiscountAmount != null)
                                        {
                                            decimal x = item.DiscountAmount ?? 0;
                                            <span class="sale2">-@x.ToString("C", cul.NumberFormat)</span>
                                        }
                                    }
                                </h4>
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <hr class="soft" />
        </div>
    </div>
    <div class="pagination">
        @await Component.InvokeAsync("Pager", Model.Products)
    </div>
    <br class="clr" />
</div>