@model CheckoutViewModel
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = CultureInfo.CurrentCulture.Name;
    decimal tongtien = 0;
}

@section Scripts{
    <link href="~/css/buttonPayPal.css" rel="stylesheet" />
    <script>
        $('.muahangOL').hide()
        $('.thanhtoanOL').click(function () {
            $('.muahangOL').toggle()
            $('.muahang').toggle();
        })
        $('.btnThanhToan').click(function () {
            $('.muahangOL').toggle()
            $('.muahang').toggle();
        })
    </script>
}

@if (@TempData["msg"] != null)
{
    <span class="alert alert-success" style="text-align:center;display:block">@TempData["msg"]</span>
}
else if (@TempData["err"] != null)
{
    <span class="alert alert-danger" style="text-align:center;display:block">@TempData["err"]</span>
}
else
{
    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li class="active"> SHOPPING CART</li>
        </ul>
        <h3>  SHOPPING CART [ <small>@Model.CartItems.Count Item(s) </small>]<a href="products.html" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Continue Shopping </a></h3>
        <hr class="soft" />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Description</th>
                    <th>Quantity/Update</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CartItems)
                {
                    <tr>
                        <td> <img width="60" src="@item.Image" alt="" /></td>
                        <td>@item.Description</td>
                        <td>
                            @item.Quantity
                        </td>
                        @{
                            decimal percent = (item.DiscountPercent * (decimal)(0.01)) ?? 0;
                            decimal amount = item.DiscountAmount ?? 0;
                            var gia = item.Price - (item.Price * percent) - amount;
                            var total = (item.Price * item.Quantity) - (item.Price * item.Quantity * percent) - amount;
                            tongtien += total;
                        }
                        <td>@gia.ToString("N0")</td>
                        <td>@total.ToString("N0")</td>
                    </tr>
                }
                <tr>
                    <td colspan="4" style="text-align:right"><strong>TOTAL =</strong></td>
                    <td class="label label-important" style="display:block"> <strong> @tongtien.ToString("N0")</strong></td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered">
            <tr><th>ESTIMATE YOUR SHIPPING </th></tr>
            <tr>
                <td class="muahang">
                    <form class="form-horizontal" action="/@culture/Cart/Checkout" method="post">
                        <div class="control-group">
                            <label class="control-label">Name </label>
                            <div class="controls">
                                <input style="width:90%" type="text" asp-for="CheckoutModel.Name" id="inputCountry" value="@Model.CheckoutModel.Name" placeholder="Name">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Address </label>
                            <div class="controls">
                                <input style="width:90%" type="text" asp-for="CheckoutModel.Address" value="@Model.CheckoutModel.Address" id="inputCountry" placeholder="Address">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Email </label>
                            <div class="controls">
                                <input style="width:90%" type="text" asp-for="CheckoutModel.Email" value="@Model.CheckoutModel.Email" id="inputCountry" placeholder="Email">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Số điện thoại </label>
                            <div class="controls">
                                <input style="width:90%" type="text" asp-for="CheckoutModel.PhoneNumber" value="@Model.CheckoutModel.PhoneNumber" id="inputCountry" placeholder="Số điện thoại">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                @if (@Model.CartItems.Count > 0)
                                {

                                    <button type="submit" class="btn btn-primary">Thanh toán </button>
                                    <div class="btn btn-danger thanhtoanOL">Thanh toán online </div>
                                }
                            </div>
                        </div>
                    </form>
                </td>
                <td class="muahangOL">
                    <form class="form-horizontal" action="/@culture/Cart/PaypalCheckout" method="post">
                        <div class="control-group">
                            <label class="control-label">Name </label>
                            <div class="controls">
                                <input style="width:90%" type="text" asp-for="CheckoutModel.Name" id="inputCountry" value="@Model.CheckoutModel.Name" placeholder="Name">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Address </label>
                            <div class="controls">
                                <input style="width:90%" type="text" asp-for="CheckoutModel.Address" value="@Model.CheckoutModel.Address" id="inputCountry" placeholder="Address">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Email </label>
                            <div class="controls">
                                <input style="width:90%" type="text" asp-for="CheckoutModel.Email" value="@Model.CheckoutModel.Email" id="inputCountry" placeholder="Email">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Số điện thoại </label>
                            <div class="controls">
                                <input style="width:90%" type="text" asp-for="CheckoutModel.PhoneNumber" value="@Model.CheckoutModel.PhoneNumber" id="inputCountry" placeholder="Số điện thoại">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls" style="display:flex">
                                @if (@Model.CartItems.Count > 0)
                                {
                                    <div class="btn btn-primary btnThanhToan" style="height:max-content">Thanh toán </div>
                                    <button type="submit" class="paypal-button">
                                        <span class="paypal-button-title">
                                            Buy now with
                                        </span>
                                        <span class="paypal-logo">
                                            <i>Pay</i><i>Pal</i>
                                        </span>
                                    </button>
                                }
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
        <a href="/" class="btn btn-large"><i class="icon-arrow-left"></i> Continue Shopping </a>
    </div>
}