@model CheckoutViewModel
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = CultureInfo.CurrentCulture.Name;
}

@if (@TempData["msg"] != null)
{
    <span class="alert alert-success" style="text-align:center;display:block">@TempData["msg"]</span>
}
else
{
    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li class="active"> SHOPPING CART</li>
        </ul>
        <h3>  SHOPPING CART [ <small>@Model.CartItems.Count Item(s) </small>]<a href="products.html" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Continue Shopping </a></h3>
        <hr class="soft" />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Description</th>
                    <th>Quantity/Update</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CartItems)
                {
                    <tr>
                        <td> <img width="60" src="@item.Image" alt="" /></td>
                        <td>@item.Description</td>
                        <td>
                            @item.Quantity
                        </td>
                        <td>@item.Price</td>
                        <td>@(item.Price*item.Quantity)</td>
                    </tr>
                }
                <tr>
                    <td colspan="4" style="text-align:right"><strong>TOTAL =</strong></td>
                    <td class="label label-important" style="display:block"> <strong> @Model.CartItems.Sum(x => x.Quantity * x.Price).ToString("N0")</strong></td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered">
            <tr><th>ESTIMATE YOUR SHIPPING </th></tr>
            <tr>
                <td>
                    <form class="form-horizontal" action="/@culture/Cart/Checkout" method="post">
                        <div class="control-group">
                            <label class="control-label">Name </label>
                            <div class="controls">
                                <input type="text" asp-for="CheckoutModel.Name" id="inputCountry" value="@Model.CheckoutModel.Name" placeholder="Name">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Address </label>
                            <div class="controls">
                                <input type="text" asp-for="CheckoutModel.Address" value="@Model.CheckoutModel.Address" id="inputCountry" placeholder="Address">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Email </label>
                            <div class="controls">
                                <input type="text" asp-for="CheckoutModel.Email" value="@Model.CheckoutModel.Email" id="inputCountry" placeholder="Email">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Số điện thoại </label>
                            <div class="controls">
                                <input type="text" asp-for="CheckoutModel.PhoneNumber" value="@Model.CheckoutModel.PhoneNumber" id="inputCountry" placeholder="Số điện thoại">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn">Purchase </button>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <div class="thumbnail">
                        <img src="/themes/images/payment_methods.png" title="Bootshop Payment Methods" alt="Payments Methods">
                        <div class="caption">
                            <h5>Payment Online Methods</h5>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <a href="/" class="btn btn-large"><i class="icon-arrow-left"></i> Continue Shopping </a>
    </div>
}