@model List<Web.ViewModels.Catalog.Orders.OrderDetailViewModel>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal total = 0;
    foreach(var item in Model)
    {
        total += item.Price * item.Quantity;
    }
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">CHI TIẾT ĐƠN HÀNG @Model[0].OrderID</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3" style="display:flex">
            <a asp-action="Index" asp-controller="Order" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-long-arrow-alt-left"></i>
                </span>
                <span class="text">Trở về</span>
            </a>
            <a class="btn btn-danger btn-icon-split" style="margin-left:auto">
                <span class="icon text-white-50">
                    <i class="fas fa-hryvnia"></i>
                </span>
                <span class="text">Total: @total.ToString("N0") VND</span>
            </a>
        </div>
            @if (@TempData["Message"] != null)
            {
                <div class="alert alert-success" role="alert" style="text-align:center">
                    @TempData["Message"]
                </div>
            }

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    Hình ảnh
                                </th>
                                <th>
                                    Tên sản phẩm
                                </th>
                                <th>
                                    Size
                                </th>
                                <th>
                                    Giá
                                </th>
                                <th>
                                    Số lượng
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>
                                    Hình ảnh
                                </th>
                                <th>
                                    Tên sản phẩm
                                </th>
                                <th>
                                    Size
                                </th>
                                <th>
                                    Giá
                                </th>
                                <th>
                                    Số lượng
                                </th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <img style="margin:0 2px;height:120px;width:100%" src="@item.Image" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SizeName)
                                    </td>
                                    <td>
                                        <p>@item.Price.ToString("N0")</p>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
@section Scripts {
    <script>
        setTimeout(function () {
            $(".alert").fadeOut('slow');
        }, 2000);
    </script>
}