@model IEnumerable<Web.ViewModels.Catalog.Comments.CommentViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Bình Luận</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3" style="display:flex">
            <a asp-action="Create" asp-controller="Comment" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-plus-circle"></i>
                </span>
            </a>
        </div>
        @if (@TempData["Message"] != null)
        {
            <div class="alert alert-success" role="alert" style="text-align:center">
                @TempData["Message"]
            </div>
        }

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.TenUser)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TenSP)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Content)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateCreated)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.TenUser)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TenSP)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Content)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateCreated)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenUser)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenSP)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Content)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateCreated)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.ActionLink("Khóa", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        setTimeout(function () {
            $(".alert").fadeOut('slow');
        }, 2000);
    </script>
}