@model Web.Models.OrderViewModelWeb
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = CultureInfo.CurrentCulture.Name;
}
@section Scripts{
    <link href="~/css/orderStatus.css" rel="stylesheet" />
    <link href="~/css/personal.css" rel="stylesheet" />
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>
    <script type="text/javascript">
        /*$('.btnListHistory').hide();*/
        $('.dsDonhang').hide();
        $('.tracking').hide();
        $(".btnListOrder").click(function () {
            $('.dsDonhang').toggle();
            /*$('.btnListHistory').hide();*/
        });
        $(".btnListHistory").click(function () {
            $('.dsDonhang').hide();
            /*$('.btnListHistory').toggle();*/
        });
    </script>
    <script>
        setTimeout(function () {
            $(".alert").fadeOut('slow');
        }, 2000);
    </script>
}
<style>
    .btnGroup {
        display: flex;
    }

    .btnCustom {
        width: 70px;
        margin: 0 5px;
    }

    .tableHead th {
        font-size: 11px;
    }
    .dataTB td{
        font-size:11px;
    }
</style>
<div class="btn-group">
    <button style="margin:0 5px" class="btn btn-info btnListOrder">Danh Sách Đơn Hàng</button>
    <button style="margin:0 5px" class="btn btn-info btnListHistory">Lịch Sử Mua Hàng</button>
</div>

<div class="container-fluid tracking">
    <!-- Details-->
    @*<div class="row mb-3">
        <div class="col-sm-4 mb-2">
            <div class="bg-secondary p-4 text-dark text-center"><span class="font-weight-semibold mr-2">Shipped via:</span>UPS Ground</div>
        </div>
        <div class="col-sm-4 mb-2">
            <div class="bg-secondary p-4 text-dark text-center"><span class="font-weight-semibold mr-2">Status:</span>Quality check</div>
        </div>
        <div class="col-sm-4 mb-2">
            <div class="bg-secondary p-4 text-dark text-center"><span class="font-weight-semibold mr-2">Expected date:</span>June 17, 2019</div>
        </div>
    </div>*@
    <!-- Progress-->
    <div class="steps">
        <div class="steps-header">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 40%;height:100%;background-color:orange" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="steps-body">
            <div class="step step-completed"><span class="step-indicator"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg></span><span class="step-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg></span>
                Order confirmed
            </div>
            <div class="step step-completed"><span class="step-indicator"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg></span><span class="step-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg></span>
                Processing order
            </div>
            <div class="step step-active"><span class="step-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-award"><circle cx="12" cy="8" r="7"></circle><polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"></polyline></svg></span>Quality check</div>
            <div class="step"><span class="step-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-truck"><rect x="1" y="3" width="15" height="13"></rect><polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon><circle cx="5.5" cy="18.5" r="2.5"></circle><circle cx="18.5" cy="18.5" r="2.5"></circle></svg></span>
                Product dispatched
            </div>
            <div class="step"><span class="step-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg></span>
                Product delivered
            </div>
        </div>
    </div>
    <!-- Footer-->
    <div class="d-sm-flex flex-wrap justify-content-between align-items-center text-center pt-4">
        <div class="custom-control custom-checkbox mt-2 mr-3">
            <input class="custom-control-input" type="checkbox" id="notify-me" checked="">
            <label class="custom-control-label" for="notify-me">Notify me when order is delivered</label>
        </div><a class="btn btn-primary btn-sm mt-2" href="#order-details" data-toggle="modal">View Order Details</a>
    </div>
</div>

<div class="container-fluid dsDonhang">

    <!-- Page Heading -->
    <h4 class="h3 mb-2 text-gray-800" style="padding:10px 0;text-align:center;margin:30px auto 30px auto;width:80%;background-color:green;color:#fff;border-radius:15px">Danh Sách Đơn Hàng</h4>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        @if (@TempData["msg"] != null)
        {
            <div class="alert alert-danger" role="alert" style="text-align:center">
                @TempData["msg"]
            </div>
        }
        @if (@TempData["msgSC"] != null)
        {
            <div class="alert alert-success" role="alert" style="text-align:center">
                @TempData["msgSC"]
            </div>
        }

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr class="tableHead">
                            <th>
                                Mã
                            </th>
                            <th>
                                Tên
                            </th>
                            <th>
                                Địa chỉ
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Phone
                            </th>
                            <th>
                                Ngày đặt
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                Mã
                            </th>
                            <th>
                                Tên
                            </th>
                            <th>
                                Địa chỉ
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Phone
                            </th>
                            <th>
                                Ngày đặt
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model.listOrder)
                        {
                            <tr class="dataTB">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShipName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShipAddress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShipEmail)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShipPhone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderDate)
                                </td>
                                <td class="btnGroup">
                                    <button class="btn btn-info btnCustom">
                                        @Html.ActionLink("Chi tiết", "Details", new { id = item.Id })
                                    </button>
                                    <button class="btn btn-danger btnCustom">
                                        @Html.ActionLink("Hủy", "CancelOrder", new { id = item.Id })
                                    </button>
                                    <button class="btn btn-info">
                                        @Html.ActionLink("Tracking", "TrackingOrder", new { id = item.Id })
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>