@model IEnumerable<Web.ViewModels.Catalog.Products.ProductViewModel>

@{
    ViewData["Title"] = "ProductLovest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">SẢN PHẨM YÊU THÍCH NHẤT</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        @if (@TempData["Message"] != null)
        {
            <div class="alert alert-success" role="alert" style="text-align:center">
                @TempData["Message"]
            </div>
        }

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Image)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                Lượt xem
                            </th>
                            <th>
                                Điểm đánh giá
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Image)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                Lượt xem
                            </th>
                            <th>
                                Điểm đánh giá
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <img style="height:150px;" src="@item.Images[0].URL" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ViewCount)
                                </td>
                                <td>
                                   @Html.DisplayFor(modelItem => item.Diem)/10
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        setTimeout(function () {
            $(".alert").fadeOut('slow');
        }, 2000);
    </script>
}