@model Web.ViewModels.Catalog.Products.ProductViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Chi tiết sản phẩm</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Size
        </dt>
        <dd class="col-sm-10">
            <select id="sizeDropdown" onchange="return chonsize()" class="dropdownx-select" asp-items="@(new SelectList(Model.listPS,"SizeId","Size",Model.Name))">
            </select>
        </dd>
        <dt class="col-sm-2">
            Giá bán
        </dt>
        <dd class="col-sm-10" id="giaban">
        </dd>
        <dt class="col-sm-2">
            Giá nhập
        </dt>
        <dd class="col-sm-10" id="gianhap">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ViewCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ViewCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(@Model.Details)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SeoDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SeoDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SeoTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SeoTitle)
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayNameFor(model => model.Images)
        </dd>
        <dt class="col-sm-10" style="overflow-x:scroll">
            @foreach (var item in Model.Images)
            {
                <img style="margin:0 2px;" src="@item.URL" />
            }
        </dt>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <script type="text/javascript">

        var listSize = JSON.parse('@Newtonsoft.Json.JsonConvert.SerializeObject(Model.listPS)'.replace(/&quot;/g, "\""));

        console.log(listSize);
        // setSize sản phẩm đầu tiên
        $('#gianhap').text(listSize[0].OriginalPrice);
        $('#giaban').text(listSize[0].Price);

        function chonsize() {
            var valueSize = $('#sizeDropdown :selected').val();
                for (let j = 0; j < listSize.length; j++) {
                    if (valueSize == listSize[j].SizeId) {
                        $('#gianhap').text(listSize[j].OriginalPrice);
                        $('#giaban').text(listSize[j].Price);
                        break;
                    }
                }
        }
    </script>
}